<ion-header>
  <ion-navbar>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Been There, Delivered That</h2>

  <h5>You have {{newDeliveryCount}} deliveries to make</h5>
  <p *ngIf="newDeliveryCount === 0">You're all caught up!</p>
  
  
  <!-- TODO(greg): Un-hide this to enter address -->
  <div hidden="true">
      <button [hidden]="editAddress" ion-item (click)="editAddressToggle()">
        <p>{{address}}</p>
        <p *ngIf="!formattedAddress || formattedAddress?.length === 0">Enter Address</p>
      </button>

      <ion-item [hidden]="!editAddress">
        <ion-input [(ngModel)]="formattedAddress" id="googlePlacesHome" required></ion-input>
        <button item-right (click)="saveAddress()">Save</button>
        <button item-left (click)="cancelSaveAddress()">Cancel</button>
      </ion-item>
  </div>
</ion-content>