<ion-header>
  <ion-navbar>
    <ion-title>
      Deliveries
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addDelivery()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refreshData($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-list-header>
      Outstanding Deliveries
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of newItems; let idx = index;">
      <button ion-item>
        <ion-avatar item-start>
          <img src="../../assets/imgs/bag.jpg">
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.address?.formatted_address}}</p>
        <p>{{item.notes}}</p>
      </button>

      <ion-item-options>
        <button ion-button color="light" (click)="completeDelivery(item, idx)">DELIVERED</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Completed Deliveries
    </ion-list-header>
    <ion-item-sliding *ngFor="let item of deliveredItems; let idx = index;">
      <button ion-item>
        <ion-avatar item-start>
          <img src="../../assets/imgs/bag.jpg">
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.address?.formatted_address}}</p>
        <p>{{item.notes}}</p>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteDelivery(item, idx)">DELETE</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>